h1 {
    font-size: 65px;
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    background-color: blue;
}

.change-color{
  background-color: green;
}

p{
    font-weight: 600;
    font-size: 3em;
}

body{
    font-size: 16px;
}

li{
    font-style: italic;
    line-height: 80px;
    text-align: center;
    text-decoration: overline;
}

#yellow{
    background-color: yellow;
}

#red{
    background-color: red;
}

#brown{
    background-color: brown;
}